#der{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-position: right;
 }
 
 #set_image{
     position: relative;
     transform: scale(1.0);
     height: 1200px;
     width: 1200px;
     margin: 0 auto;
 }

 body {
    border: 10px solid black;
  }
  
  h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
  }
  
 