/*
	@name frame_1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1800px; width: 1800px; height: 2050px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__frame_1 {
	top: 0px;
	left: 0px;
	width: 1800px;
	height: 2000px;
	background:rgba(255,255,255,1);
}

#group_5 {
	top: 0px;
	left: 0px;
	width: 200px;
	height: 2000px;
}
#desktop___1 {
	top: 0px;
	left: 0px;
	width: 1818px;
	height: 2000px;
}

#title {
	top: 110px;
	left: -28px;
	height: 100px;
	width: 350px;
	text-align: center;
}

#agenda_icon {
    left: 85px;
}

.line1{
	top: 190px;
	width: 305px;
	height: 47px;
	border-bottom: 3px solid black;
	position: absolute;
}

#intro{
	top: 260px;
	left: 84px;
	font-size: 30px;
	font-weight: bold;
}

#body_intro{
	top: 310px;
	left: 12px;
	text-align:start;
	width: 290px;
	font-size: 20px;
}

.line2{
	top: 475px;
	width: 305px;
	height: 47px;
	border-bottom: 3px solid black;
	position: absolute;
}


#js_documentation {
	top: 40px;
	left: 30px;
	width: 282px;
	height: 54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#introduction {
	top: 40px;
	left: 452px;
	width: 300px;
	height: 51px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#what_you_should_already_know {
	top: 280px;
	left: 454px;
	width: 394px;
	height: 51px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#javascript_and_java {
	top: 550px;
	left: 454px;
	width: 290px;
	height: 51px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#hello_world {
	top: 800px;
	left: 452px;
	width: 290px;
	height: 51px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#variables {
	top: 1030px;
	left: 452px;
	width: 290px;
	height: 51px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#declaring_variables {
	top: 1310px;
	left: 452px;
	width: 290px;
	height: 51px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#variable_scope {
	top: 1620px;
	left: 452px;
	width: 400px;
	height: 65px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#requirements_doc {
	background-color: #FFFFFF;
}

#business_button {
	background-color: #FFFFFF;
	left: 455px;
	top: 465px;
}


#rectangle_1 {
	top: 0px;
	left: 300px;
	width: 5px;
	height: 2300px;
	background:rgba(156,161,163,1);
}


#vector_1 {
	top: 99px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#vector_2 {
	top: 149px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#vector_3 {
	top: 199px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#vector_4 {
	top: 249px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#vector_5 {
	top: 299px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#vector_6 {
	top: 349px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#vector_7 {
	top: 399px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#vector_8 {
	top: 449px;
	left: 0px;
	width: 388.5px;
	height: 0px;
}


#introduction_ek1 {
	top: 113px;
	left: 30px;
	width: 158px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#what_you_should_already_now {
	top: 110px;
	left: 30px;
	width: 305px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#javascript_and_java_ek1 {
	top: 213px;
	left: 30px;
	width: 214px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#hello_world_ek1 {
	top: 263px;
	left: 30px;
	width: 158px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#variables_ek1 {
	top: 313px;
	left: 30px;
	width: 158px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#declaring_variable {
	top: 363px;
	left: 30px;
	width: 199px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#this_guide_assumes_you_have_the_following_basic_background__a_general_understanding_of_the_internet_and_the_world_wide_web__www___good_working_knowledge_of_hypertext_markup_language__html___some_programming_experience__if_you_are_new_to_programming__try_one_of_the_tutorials_linked_on_the_main_page_about_javascript_ {
	top: 340px;
	left: 454px;
	width: 1500px;
	height: 200px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#to_get_started_with_writing_javascript__open_the_scratchpad_and_write_you_first__hello_world__javascript_code_ {
	top: 870px;
	left: 452px;
	width: 1100px;
	height: 140px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#select_the_code_in_the_pad_and_hit_ctrl_r_to_watch_it_unfold_in_your_browser_ {
	top: 1474px;
	left: 452px;
	width: 735px;
	height: 47px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#you_can_declare_a_variable_in_three_ways__with_the_keyword_var__for_example_ {
	top: 1385px;
	left: 452px;
	width: 1100px;
	height: 190px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#you_use_variables_as_symbolic_names_for_values_in_your_application__the_names_of_variables__called_identifiers__conform_to_certain_rules__a_javascript_identifier_must_start_with_a_letter__underscore______or_dollar_sign______subsequent_characters_can_also_be_digits__0_9___because_javascript_is_case_sensitive__letters_include_the_characters__a__through__z___uppercase__and_the_characters__a__through__z___lowercase___you_can_use_iso_8859_1_or_unicode_letters_such_as___and___in_identifiers__you_can_also_use_the_unicode_escape_sequences_as_characters_in_identifiers__some_examples_of_legal_names_are_number_hits__temp99__and__name_ {
	top: 1100px;
	left: 452px;
	width: 1100px;
	height: 244px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#rectangle_3 {
	top: 2016px;
	left: 475px;
	width: 664px;
	height: 35px;
	background:rgba(247,247,247,1);
}


#rectangle_4 {
	top: 2198px;
	left: 487px;
	width: 1291px;
	height: 35px;
	background:rgba(247,247,247,1);
}


#rectangle_5 {
	top: 2381px;
	left: 475px;
	width: 1303px;
	height: 35px;
	background:rgba(247,247,247,1);
}


#rectangle_6 {
	top: 2762px;
	left: 475px;
	width: 1303px;
	height: 35px;
	background:rgba(247,247,247,1);
}

#group_4 {
	top: 2016px;
	left: 467px;
	width: 1311px;
	height: 35px;
}

#rectangle_8 {
	top: 0px;
	left: 0px;
	width: 1311px;
	height: 35px;
	background:rgba(247,247,247,1);
}


#var_x___42_ {
	top: 4px;
	left: 15px;
	width: 134px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#x___42_ {
	top: 2202px;
	left: 482px;
	width: 134px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#let_y___13_ {
	top: 2385px;
	left: 482px;
	width: 134px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#if__true____var_x___5____console_log_x______5 {
	top: 2766px;
	left: 489px;
	width: 469px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#this_syntax_can_be_used_to_declare_a_block_scope_local_variable__see_variable_scope_below_ {
	top: 2446px;
	left: 454px;
	width: 1359px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#when_you_declare_a_variable_outside_of_any_function__it_is_called_a_global_variable__because_it_is_available_to_any_other_code_in_the_current_document__when_you_declare_a_variable_within_a_function__it_is_called_a_local_variable__because_it_is_available_only_within_that_function__javascript_before_ecmascript_2015_does_not_have_block_statement_scope__rather__a_variable_declared_within_a_block_is_local_to_the_function__or_global_scope__that_the_block_resides_within__for_example_the_following_code_will_log_5__because_the_scope_of_x_is_the_function__or_global_context__within_which_x_is_declared__not_the_block__which_in_this_case_is_an_if_statement_ {
	top: 1695px;
	left: 452px;
	width: 1100px;
	height: 195px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#this_always_declares_a_global_variable__it_generates_a_strict_javascript_warning__you_shouldn_t_use_this_variant__with_the_keyword_let__for_example_ {
	top: 2261px;
	left: 452px;
	width: 1339px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#this_always_declares_a_global_variable__it_generates_a_strict_javascript_warning__you_shouldn_t_use_this_variant__with_the_keyword_let__for_example__ek1 {
	top: 2081px;
	left: 452px;
	width: 1359px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#javascript_and_java_are_similar_in_some_ways_but_fundamentally_different_in_some_others__the_javascript_language_resembles_java_but_does_not_have_java_s_static_typing_and_strong_type_checking__javascript_follows_most_java_expression_syntax__naming_conventions_and_basic_control_flow_constructs_which_was_the_reason_why_it_was_renamed_from_livescript_to_javascript__in_contrast_to_java_s_compile_time_system_of_classes_built_by_declarations__javascript_supports_a_runtime_system_based_on_a_small_number_of_data_types_representing_numeric__boolean__and_string_values__javascript_has_a_prototype_based_object_model_instead_of_the_more_common_class_based_object_model__the_prototype_based_model_provides_dynamic_inheritance__that_is__what_is_inherited_can_vary_for_individual_objects__javascript_also_supports_functions_without_any_special_declarative_requirements__functions_can_be_properties_of_objects__executing_as_loosely_typed_methods__javascript_is_a_very_free_form_language_compared_to_java__you_do_not_have_to_declare_all_variables__classes__and_methods__you_do_not_have_to_be_concerned_with_whether_methods_are_public__private__or_protected__and_you_do_not_have_to_implement_interfaces__variables__parameters__and_function_return_types_are_not_explicitly_typed_ {
	top: 610px;
	left: 452px;
	width: 1100px;
	height: 382px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#variable_scope_ek1 {
	top: 413px;
	left: 30px;
	width: 177px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#javascript_is_a_cross_platform__object_oriented_scripting_language__it_is_a_small_and_lightweight_language__inside_a_host_environment__for_example__a_web_browser___javascript_can_be_connected_to_the_objects_of_its_environment_to_provide_programmatic_control_over_them__javascript_contains_a_standard_library_of_objects__such_as_array__date__and_math__and_a_core_set_of_language_elements_such_as_operators__control_structures__and_statements__core_javascript_can_be_extended_for_a_variety_of_purposes_by_supplementing_it_with_additional_objects__for_example__client_side_javascript_extends_the_core_language_by_supplying_objects_to_control_a_browser_and_its_document_object_model__dom___for_example__client_side_extensions_allow_an_application_to_place_elements_on_an_html_form_and_respond_to_user_events_such_as_mouse_clicks__form_input__and_page_navigation__server_side_javascript_extends_the_core_language_by_supplying_objects_relevant_to_running_javascript_on_a_server__for_example__server_side_extensions_allow_an_application_to_communicate_with_a_database__provide_continuity_of_information_from_one_invocation_to_another_of_the_application__or_perform_file_manipulations_on_a_server_ {
	top: 94px;
	left: 452px;
	width: 1100px;
	height: 408px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#this_behavior_changes__when_using_the_let_declaration_introduced_in_ecmascript_2015_ {
	top: 1865px;
	left: 452px;
	width: 1100px;
	height: 140px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#rectangle_7 {
	top: 2863px;
	left: 475px;
	width: 1303px;
	height: 60px;
	background:rgba(247,247,247,1);
}


#if__true____let_y___5____console_log_y______referenceerror__y_is_not_defined {
	top: 2869px;
	left: 489px;
	width: 1338px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#group_1 {
	top: 1364px;
	left: 467px;
	width: 1326px;
	height: 86px;
}
#group_2 {
	top: 0px;
	left: 0px;
	width: 1326px;
	height: 86px;
}

#rectangle_2 {
	top: 0px;
	left: 0px;
	width: 1310.01px;
	height: 86px;
	background:rgba(247,247,247,1);
}


#function_greetme_yourname____alert__hello_____yourname_____greetme__world___ {
	top: 14px;
	left: 6px;
	width: 1332px;
	height: 84.89px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: justified;
	color:#000000;
}



/* Add your custom CSS here */
